Server/API/bin/Debug/net8.0/API.pdb
Server/API/bin/Debug/net8.0/API.pdb
Server/API/obj/Debug/net8.0/API.dll
Server/API/obj/Debug/net8.0/API.pdb
Server/API/obj/Debug/net8.0/API.sourcelink.json
Server/API/obj/Debug/net8.0/ref/API.dll
Server/API/obj/Debug/net8.0/refint/API.dll
Server/API/bin/Debug/net8.0/API.pdb
Server/API/bin/Debug/net8.0/API.exe
